apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dashboard-app
  template:
    metadata:
      labels:
        app: dashboard-app
    spec:
      serviceAccountName: dashboard-service-account
      containers:
      - name: dashboard-container
        image: 058264125602.dkr.ecr.us-east-1.amazonaws.com/dashboard-repo:latest
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "production"
---
apiVersion: v1
kind: Service
metadata:
  name: dashboard-service
  namespace: default
spec:
  selector:
    app: dashboard-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: LoadBalancer